<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>Socket.IO chat</title>
    <link rel="stylesheet" type="text/css" href="/css/room1.css" />
  </head>
  <body>
    <div class="navbar">
      <a href="/rooms">Rooms</a>
      <a href="/users">Users</a>
      <a href="/friends">Friends</a>
      <a href="/logout">Logout</a>
    </div>
    <div class="chat-container">
      <div class="messages">
        <ul id="messages"></ul>
        <form id="form" action=""><input id="input" autocomplete="off" /><button>Send</button></form>
      </div>
      <div class="users-list">
        <p>채팅방 인원:</p>
        <ul id="users-list"></ul>
        <button id="out-button" onclick="location.href='/rooms'">나가기</button>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(function () {
        var socket = io();
        socket.emit('join', '1');

        // count 이벤트로 전송된 채팅방 인원 수를 받고 user-list아래 p 태그를 조작
        socket.on('count', function (count) {
          $('.users-list p').text('채팅방 인원: ' + count);
        });

        // 채팅방 참여자 목록을 받고 user-list아래 li 태그로 매핑
        socket.on('room member', function (userList) {
          $('#users-list').empty();
          $.each(userList, function (key, userName) {
            $('#users-list').append($('<li>').text(userName));
          });
        });

        // form 태그 submit 시
        $('form').submit(function (e) {
          e.preventDefault();
          socket.emit('chat message', $('#input').val(), '1');
          $('#input').val('');
          return false;
        });

        // 창을 떠나면 소켓룸에서 나가도록 설정했습니다.
        window.addEventListener('beforeunload', function () {
          socket.emit('out', '1');
        });

        // 소켓룸에 새로운 소켓이 연결되면 알림을 채팅창에 보냅니다.
        socket.on('join-out message', function (msg) {
          $('#messages').append($('<li>').text(msg));
        });

        socket.on('chat message', function (msg, userId) {
          $('#messages').append($('<li>').text(`${userId}: ${msg}`));
        });
      });
    </script>
  </body>
</html>
